header{
    padding: 20px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
main{
    padding: 20px;
    width: 100%;
    height: calc(100vh - 250px);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
footer .foot-left,
footer .foot-right,
header .hea-left,
header .hea-right{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer .foot-right,
header .hea-right{
    justify-content: flex-end;
}

#select-difficulty{
    padding: 5px;
    width: 150px;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    background-color: #efefef;
    cursor: pointer;
}
#submit-start{
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}





#container-grid{
    width: 50vh;
    height: 50vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
}
#container-grid p{
    font-size: 2em;
    font-weight: bold;
}
.hea-left h1{
    margin-left: 20px;
}
.foot-left a{
    text-decoration: none;
    color: black;
}
#container-grid h5{
    font-size: 1rem;
    position: absolute;
    top: 0;
}